In [1]:
import pandas as pd
import seaborn as sns
import datetime

# 全局参数

In [2]:
data_table1_file="../data/家庭财务数据记录.xlsx"

# 数据导入

In [3]:
df1=pd.read_excel(data_table1_file,header=2)

## 预览

In [4]:
#df1

# 总览

In [36]:
class Func:
    def __init__(self,df):
        if isinstance(df,pd.DataFrame):
            self.df=df
        else:
            raise TypeError
    
    
    def groupby(key="",v="2019",**kawgs):
        if key =="年":
            pass
        if key == "月":
            pass
        if key == "责任人":
            pass
        if key == "类型":
            pass
        if key == "收支":
            pass
    
    def filter(self,*arg):
        r=arg[0]
        for i in arg:
            r&=i
        return  self.df[r]
        
            
                                       
d={}

d[u"年"]=2019
d[u"负责人"]=u"孙月生"  
d[u"收支"]=u"支出"
f=Func(df1)
f.filter(df1[u'收支']==u'收入',df1[u'责任人']==u'孙月生')

    备注      金额          时间  收支  责任人  类型       年    月
0   例子     0.1  2019-02-16  收入  孙月生  现金  2019.0  2.0
2  NaN  4800.0  2019-02-16  收入  孙月生  现金  2019.0  2.0

In [56]:
grouped = df1.groupby('年')
for i,j in grouped:
    print(i)
    print(j)
    print("+++++++++++++++++++++++++")

2019.0
    备注       金额          时间  收支  责任人    类型       年    月
0   例子      0.1  2019-02-16  收入  孙月生    现金  2019.0  2.0
1   例子      0.1  2019-02-16  支出  胡玉仙  股票基金  2019.0  2.0
2  NaN   4800.0  2019-02-16  收入  孙月生    现金  2019.0  2.0
3  NaN    100.0  2019-02-16  支出  孙月生    现金  2019.0  2.0
4   结余  18000.0  2019-02-16  收入  胡玉仙    定期  2019.0  2.0
5   结余  48715.0  2019-02-16  收入   孙俊  股票基金  2019.0  2.0
6   结余  18251.0  2019-02-16  收入   孙俊    现金  2019.0  2.0
+++++++++++++++++++++++++

In [38]:
df1[(df1[u'收支']==u'收入') & (df1[u'责任人']==u'孙月生')]

def  aa(*arg):
    r=arg[0]
    for i in arg:
        r=r&i
        print(r)
aa(1,0,1)
#su,m

filter_df=df1[(df1[u'收支']==u'收入') & (df1[u'责任人']==u'孙月生')].sum()
filter_df['金额'].sum()
#df1[u'收支']==u'收入'

1
0
0

4800.1

# 柱状图

In [45]:
date_str = "2016-11-30 13:53:59"
a=datetime.datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")
a.year

2016

In [ ]:
 df1=df1.groupby(['年'])['cnt_view','cnt_click'].sum()