# 类型转换

In [ ]:
#把所有 bool 转int
for u in issame_pd.columns:
    if issame_pd[u].dtype==bool:
        issame_pd[u]=issame_pd[u].astype('int')

# 添加行列  [cankao](https://blog.csdn.net/claroja/article/details/65661826)

In [7]:
import numpy as np

df=pd.DataFrame(np.arange(16).reshape((4,4)),index=['a','b','c','d'],columns=['one','two','three','four']) 
df

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [9]:
#行
df.loc["new"]='3'
#列
df['column']="a"
df

    one two three four column
a     0   1     2    3      a
b     4   5     6    7      a
c     8   9    10   11      a
d    12  13    14   15      a
new   3   3     3    3      a

## 插入或更改一行

In [15]:
# 修改列名
df.columns=[1,2,3,4,5]
df

      1   2   3   4  5
a     0   1   2   3  1
b     4   5   6   7  2
c     8   9  10  11  3
d    12  13  14  15  4
new   2   2   2   2  5

# 表格创建和并列

In [14]:
import pandas as pd
df1=pd.Series(range(7))
print(df1)
result = pd.concat([df1, df1], axis=1)
print(result)
saveCsv=pd.DataFrame( result)
saveCsv.to_csv("tagData.csv", index=True, sep=',')

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64
   0  1
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6

# 写数组到CSV

In [7]:

import random
import time
import pandas as pd
import numpy as np
tagData=np.array(range(16)).reshape(4,4)
#tagData=np.array(["2",3,"d"])
saveCsv=pd.DataFrame( tagData)
saveCsv.to_csv("tagData.csv", index=True, sep=',')

# 写字典数组 到csv

In [5]:

import random
import time
import pandas as pd
Len=10
tagData=[{"d1":1,"d2":2,"d3":3}]

dataMapD1=[random.uniform(0.2,0.997) for i in range(Len)]
dataMapD2=[random.uniform(time.time()-1000,time.time()+1000) for i in range(Len)]
dataMapD3=[(random.uniform(116.403406-10,116.403406+10),random.uniform(39.914935-10,39.914935+10)) for i in range(Len)]
tagData=[{"d1":i,"d2":j,"d3":k} for i ,j,k in zip(dataMapD1,dataMapD2,dataMapD3)]

saveCsv=pd.DataFrame( tagData)
saveCsv.to_csv("tagData.csv", index=False, sep=',')

# 读取csv

In [14]:
data =pd.read_csv(r"C:\Users\user\OneDrive\code space\python\1notebook\data\tagData.csv")

data.values

array([[9.25820520e-01, 0.00000000e+00, 0.00000000e+00],
       [5.73390141e-01, 0.00000000e+00, 1.00000000e+00],
       [5.87105192e-01, 0.00000000e+00, 2.00000000e+00],
       ...,
       [6.17144736e-01, 9.99000000e+02, 9.97000000e+02],
       [7.65132661e-01, 9.99000000e+02, 9.98000000e+02],
       [9.51687381e-01, 9.99000000e+02, 9.99000000e+02]])

In [ ]:
saveCsv.hand()  头几行数据

# 读取数据库

In [2]:
# mysql
import pandas as pd
import pymysql 
db = pymysql.connect(host='localhost',port=3306,user='root',passwd='123456',charset='UTF8',db='id_info_cahe_copy') 
cur = db.cursor() 

sql="""SELECT
id_info.idcard,
id_info.nation,
id_info.`name`,
id_info.sex,
id_info.memo,
id_info.avatar,
id_info.create_datetime,
id_info.image_path,
id_info.id
FROM
id_info
WHERE
id_info.`name` like "王飞" """
df=pd.read_sql(sql,con=db)
cur.execute(sql)
print(df)

               idcard nation name sex  memo avatar     create_datetime  \
0  652923199002201816     汉族   王飞   男  null   None 2018-09-06 15:39:50
1  653122198809204416     汉族   王飞   男  null   None 2018-09-06 16:34:29
2  652924198910120546     汉族   王飞   女  null   None 2018-09-06 19:48:02
3  652324198210212818     汉族   王飞   男  null   None 2018-09-07 10:23:04

                                          image_path     id
0  /app/id_img/cb0/2ec/cb02ecb6-00b9-4839-9cd3-c2...  23719
1  /app/id_img/0a6/224/0a622493-5a6e-48bb-a1e9-fa...  27973
2  /app/id_img/afb/ada/afbada74-8fc2-4900-914b-ca...  37914
3  /app/id_img/db8/378/db8378ab-826d-44df-a6a7-58...  40541

# 合并 查询

In [1]:
# 纵向合并 

res = df.append([df2, df3], ignore_index=True)
print(res)

NameError: name 'df' is not defined

In [6]:
#表格操作，

# 知道列名 使用df.loc
print( df.loc[:,["idcard","image_path"]])
#不知道列名 使用  df.iloc
print( df.iloc[:,[1,2]])

# pd转num array
print(df.values)

               idcard                                         image_path
0  652923199002201816  /app/id_img/cb0/2ec/cb02ecb6-00b9-4839-9cd3-c2...
1  653122198809204416  /app/id_img/0a6/224/0a622493-5a6e-48bb-a1e9-fa...
2  652924198910120546  /app/id_img/afb/ada/afbada74-8fc2-4900-914b-ca...
3  652324198210212818  /app/id_img/db8/378/db8378ab-826d-44df-a6a7-58...
  nation name
0     汉族   王飞
1     汉族   王飞
2     汉族   王飞
3     汉族   王飞

array([['652923199002201816', '汉族', '王飞', '男', 'null', None,
        Timestamp('2018-09-06 15:39:50'),
        '/app/id_img/cb0/2ec/cb02ecb6-00b9-4839-9cd3-c29df9d1ae63.jpg',
        23719],
       ['653122198809204416', '汉族', '王飞', '男', 'null', None,
        Timestamp('2018-09-06 16:34:29'),
        '/app/id_img/0a6/224/0a622493-5a6e-48bb-a1e9-fa81983f6ad2.jpg',
        27973],
       ['652924198910120546', '汉族', '王飞', '女', 'null', None,
        Timestamp('2018-09-06 19:48:02'),
        '/app/id_img/afb/ada/afbada74-8fc2-4900-914b-cac377fea242.jpg',
        37914],
       ['652324198210212818', '汉族', '王飞', '男', 'null', None,
        Timestamp('2018-09-07 10:23:04'),
        '/app/id_img/db8/378/db8378ab-826d-44df-a6a7-58b5520d6617.jpg',
        40541]], dtype=object)